#Login_MainDiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -114px;
}
#Login_Div{
    width: 600px;
}
#Login_Div form{
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}
#Login_Div p{
    font-weight: bold;
    font-size: 50px;
    height: 34px;
    text-align: center;
}
#inputDiv{
    margin: 24px 0px;
}
#PasswordDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#PasswordDiv img{
    text-align: center;
    margin: 35px 0 0 -40px;
}
#forgot{
    margin: 10px  0px;
    text-align: end;
}
#Login_MainDiv #btnDiv{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#Login_signUp{
    font-size: 15px;
    text-align: center;
}
#Login_signUp span{
    color: #D07119;
}
#eye_ImgDiv button{
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 320px){
    #Login_MainDiv{
        margin-top: -40px;
    }
    #inputDiv{
        margin: 5px 0px;
    }
    #Login_MainDiv #btnDiv{
        margin-top: 40px;
    }
    #Login_Div p{
        font-size: 24px;
        height: 10px;
    }
    #Login_MainDiv #btnDiv{
        margin-top: 30px;
    }
}
@media screen and (max-width: 500px){
    #Login_Div{
        width: 100%;
    }
    #Login_Div p{
        font-size: 40px;
        height: 5px;
    }
    #Login_Div{
        margin-top: -30px;
    }
    #Login_signUp{
        margin-top: -10px;
    }
}
