#Forgot_Password_OTPDiv{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF; 
    margin-top: -110px;
}
#Forgot_Password_OTPWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}
#Forgot_Password_OTPWrapper form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#Forgot_Password_OTPheader{
    font-size: 3.12rem;
    font-weight: bold;
    height: 50px;
}
#Forgot_Password_OTPWrapper P{
    text-align: center;
    font-size: 1rem;
    height: 60px;
    width: 75%;
}
#Password_OTP_btnDiv{
    margin-top: 40px;
}
