#VerificationDiv{
    /* background-image: url(../../assets/svg/backgroundImage.svg);
    background-repeat: no-repeat;
    background-size: cover; */
    margin-top: -110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

#Verification_textDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 24px;
    margin-bottom: 40px;
}

#Verification_textDiv #Verification_header {
    font-weight: bold;
    font-size: 32px;
}

#Verification_textDiv #Verification_subtext {
    font-size: 16px;
}

#Verification_formDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Verification_formDiv form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Verification_formDiv form #Input_btnDiv{
    margin-top: 40px;
}

#Verification_formDiv p {
    text-align: center;
    margin: 0;
    margin-top: 16px;
}

#Verification_formDiv p button {
    background-color: transparent;
    border: none;
    color: #D07119;
    cursor: pointer;
}