#ResetPassword_MainDiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: -114px; */
}
#ResetPassword_FormWrapper{
    width: 600px;
}
#ResetPassword_FormWrapper form{
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}
#ResetPassword_FormWrapper p{
    font-weight: bold;
    font-size: 3.12rem;
    height: 10px;
    text-align: center;
    color: #FFFFFF;
}
#ResetPassword_FormWrapper #inputDiv{
    margin: 24px 0px;
}
#ResetPassword_FormWrapper #btnDiv{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}