#Forgot_PasswordDiv{
    margin-top: -110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF; 
}
#Forgot_Password_FormWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}
#Forgot_Password_FormWrapper form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#Forgot_Password_header{
    font-size: 3.12rem;
    font-weight: bold;
    height: 60px;

}
#Forgot_Password_FormWrapper p{
    font-size: 1rem;
    height: 40px;
}
#Forgot_Password_btnDiv{
    margin-top: 40px;
}