#Card_MainDiv{
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#CardDiv{
    width: 25.6rem;
    height: 300px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 24px;
    /* display: flex; */
}
#CardDiv p{
    font-size: 1.5rem;
    font-weight: bold;
    height: 20px; 
}
#CardDiv div{
    font-size: 1rem;
    color: #474747;
    width: 60%;
}

@media screen and (max-width: 500px) {
    #Card_MainDiv{
        height: 300px;
        width: 100vw;
        row-gap: 10px;
    }
    #CardDiv{
        width: 20.6rem;
        height: 260px;
    }
    #CardDiv img{
        width: 7.43rem;
        height: 120px;
    }
  
}
@media screen and (min-width: 600px){
    #Card_MainDiv{
        height: 400px;
        width: 100vw;
        row-gap: 10px;
    }
    #CardDiv{
        width: 90%; 
        /* height: 260px; */
    }
    #CardDiv img{
        width: 7.43rem;
        height: 120px;
    }
}

