#MainPage_firstDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -80px;
}
#MainPage_coinDiv{
    width: 407px;
    height: 117px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:24px;
    color:#DADADA ;
}
#MainPage_coinDiv img{
    width: 100px;
    height: 89px;
}
#MainPage_coinDiv p{
    font-weight: bold;
    font-size: 50px;
}
#btnDiv{
    display: flex;
    justify-content: center;
}
#Mainpage_button{
    background-color: transparent;
    border: none;
    margin-top: 80px;
    box-sizing: border-box;
    
}