#MainPage_Div{
    height: 100vh;
}
#MainPage_firstDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#MainPage_coinDiv{
    width: 407px;
    height: 117px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:24px;
    color:#DADADA ;
}
#MainPage_coinDiv img{
    width: 100px;
    height: 89px;
}
#MainPage_coinDiv p{
    font-weight: bold;
    font-size: 50px;
}
#btnDiv{
    display: flex;
    justify-content: center;
}
#Mainpage_button{
    background-color: transparent;
    border: none;
    margin-top: 80px;
    box-sizing: border-box;   
}
#MainPageText{
    width: 80%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
#MainPageText button{
    width: 218px;
    height: 82px;
    border-radius: 16px;
    border: none;
    column-gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}
#MainPageText div{
    width: 218px;
    height: 82px;
    border-radius: 16px;
    border: none;
    background-color: #FFFFFF;

}
