#MainPage_Div {
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

#MainPage_firstDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#MainPage_screenTextDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

#MainPage_screenTextDiv #MainPage_text {
    text-align: center;
    width: 489px;
}

#milestoneDiv {
    width: 502px;
    height: 20px;
    background-color: #DADADA;
    border-radius: 12px;
    overflow: hidden;
}

#MainPage_coinDiv {
    width: 320px;
    height: 73px;
    background-color: black;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* column-gap:24px; */
    color: #DADADA;
}

#MainPage_biniCoin {
    font-size: 14px;
    margin-top: 10px;
    box-sizing: border-box;
}

#MainPage_coinDiv #MainPage_dummyCoinText_Div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

#MainPage_coinDiv img {
    width: 40px;
    height: 45px;
}

#MainPage_dummyCoinText_Div div {
    font-weight: bold;
    font-size: 24px;
}

#MainPage_TapsLeft {
    width: 407px;
    height: 44px;
    border-radius: 16px;
    background-color: black;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnDiv {
    display: flex;
    justify-content: center;
}

#Mainpage_button {
    background-color: transparent;
    border: none;
    margin-top: 20px;
    box-sizing: border-box;
}

#MainPage_claimDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 200px;
}

#MainPage_claimDiv div {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

#MainPage_claimDiv button {
    width: 100px;
    height: 40px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 16px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

#MainPageText {
    height: 180px;
    display: flex;
    justify-content: center;
    column-gap: 750px;
    align-items: center;
}

#MainPageText button {
    min-width: 218px;
    height: 60px;
    border-radius: 16px;
    border: none;
    column-gap: 7px;
    background-color: rgba(255, 255, 255, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

#MainPageText div {
    width: 218px;
    height: 60px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    color: black;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

#Mainpage_button {
    background-color: transparent;
}

#Mainpage_button img {
    width: 200px;
    height: 200px;
}

#milestoneDiv img {
    width: 30px;
    /* padding-left: 20px; */
    box-sizing: border-box;
    /* background-color: #f5c293; */
}

#milestoneDiv {
    background-color: grey;
    border-radius: 20px;
    height: 20px;
    width: 600px;

}

#Progressfill {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #D07119;
    border-radius: 20px;
    color: #fff;
    height: 100%;
    width: 0;
    transition: 1s ease 0.3s;
}

#MainPage_screenTextDiv #ProgressBar_ImageDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#MainPage_screenTextDiv #ProgressBar_ImageDiv img{
    width: 50px;
    height: 58px;
}



/* @media screen and (max-width: 700px){
    #MainPage_firstDiv{
       margin-top: 20px; 
    }

    #MainPage_coinDiv {
        width: 300px;
        height: 90px;
    }

    #MainPageText {
        height: 160px;
        column-gap: 30px;
    }

    #MainPageText button {
        width: 170px;
        height: 48px;
        border-radius: 16px;
        font-size: 18px;
        column-gap: 5px;
    }

    #MainPageText div {
        width: 160px;
        height: 48px;
        font-size: 18px;
    }
} */