#mainDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 110px;
    padding: 0px 100px;
    background-color: transparent;
}
#mobileNav{
display: none;
}
/* #nav_btn{
    width: 198px;
    height: 46px;
    background-color: #D07119;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: medium;
} */

@media screen and (max-width: 500px){
    #mainDiv{
        display: none;
    }
    #mobileNav{
        display: flex;
        justify-content: center;
        margin-top: 25px;

    }
}
@media screen and (max-width:320px){
    #mobileNav{
        margin-top: 15px;
    }
}