#nav{ 
    height: 100vh;
}
#LandingPage_mainDiv{
   display: flex;
   flex-direction: column;
   row-gap: 41px;
    text-align: center;
    align-items: center;
    padding-top: 100px;
}
#LandingPage_boldText{
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    width: 718px;
}
#LandingPage_smallText{
    width: 718px;
    font-size: 18px;
    color: #FFFFFF;
}
#No_MobileView{
    display: none;
}
#carousel_text {
    height: 300px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#carousel_text p{
    /* text-align: center; */
    color: #AAAAAA;
    font-size: 1.1rem;
}

@media screen and (max-width: 500px){
    #LandingPage_mainDiv{
        padding-top: 80px;
        row-gap: 20px;
    }
    #LandingPage_boldText{
        font-size: 24px;
        font-weight: bold;
        width: 366px;
    }
    #LandingPage_smallText{
        font-size: 13px;
        width: 340px;
        padding: 0px 5px;
        box-sizing: border-box;
    }
}