#SignUpDiv{
    margin-top:-90px ;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#SignUp_mainDiv{
    width: 600px;
}
#SignUp_mainDiv form{
    width: 100%;
}
#phoneDiv{
    margin-top: 24px;
}
#SignUp_passwordInput_Div {
    /* width: 100%;
    display: flex;
    column-gap: 10px; */
    margin-top: 24px;
}
/* #SignUp_passwordInput_Div input{
    width: 295px;
} */
#SignUp_text{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
}
#SignUp_btnDiv{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}
#usernameDiv{
    margin-top:40px ;
}
@media screen and (max-width: 500px){
    #SignUpDiv{
        margin-top:- 0px;
    }
    #SignUp_text{
        font-size: 27px;
        /* padding-top: 10px; */
    }
    #SignUp_mainDiv{
        width: 90%;
    }
    #phoneDiv{
        margin-top: 15px;
    }
    #SignUp_passwordInput_Div{
        margin-top: 15px
    }
    #SignUp_btnDiv{
        margin-top: 20px;
    }
}
@media screen and (max-width: 320px){
    #SignUp_text{
        margin-top: 65px;
        font-size: 24px;
    }
    #SignUp_mainDiv input{
        height: 35px;
    }
}