#SignDiv{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -114px;
}
#SignUpDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#SignUp_mainDiv{
    width: 600px;
}
#SignUp_mainDiv form{
    width: 100%;
}
#phoneDiv{
    margin-top: 24px;
}
#SignUp_passwordInput_Div {
    margin-top: 24px;
}
#SignUp_text{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
}
#SignUp_btnDiv{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}
#usernameDiv{
    margin-top:40px ;
}
#SignUp_login{
    text-align: center;
}
#SignUp_login span{
    color: #D07119;
}

@media screen and (max-width: 500px){
    #SignDiv{
        margin-top: 50px;
    }
    #SignUp_text{
        font-size: 27px;
    }
    #SignUp_mainDiv{
        width: 90%;
    }
    #phoneDiv{
        margin-top: 15px;
    }
    #SignUp_passwordInput_Div{
        margin-top: 15px
    }
    #SignUp_btnDiv{
        margin-top: 30px;
    }
}
@media screen and (max-width: 320px){
    #SignDiv{
        padding-top: -50px;
    }
    #SignUp_text{
        margin-top: 65px;
        font-size: 24px;
    }
    #SignUp_mainDiv input{
        height: 35px;
    }
}