#Withdrawal_Success_mainDiv {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99;
}

#Withdrawal_Success_Wrapper {
    width: 550px;
    height: 560px;
    background-color: rgba(255, 255, 255, .12);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 48px;
    border-radius: 36px;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    padding: 0px 30px;
    box-sizing: border-box;
    margin-top: -110px;
}

#Withdrawal_Success_Wrapper #image_Cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
#Withdrawal_Success_Wrapper #image_Cont #header{
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
}