#SignUpDiv{
    background-image: url(../assets/backgroundImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
#SignUp_mainDiv{
    /* display: flex;
    flex-direction: column; 
     flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 100px; */
    width: 600px;
}
#SignUp_passwordInput_Div{
    display: flex;
    width: 600px;
}


#SignUp_text{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
}
#SignUp_btnDiv{
    text-align: center;
}
/* #SignUpDiv button{
    width: 300px;
    height: 46px;
    color: #FFFFFF;
    font-size: medium;
    background-color: #D07119;
    border: none;
    border-radius: 5px;
} */